<div class="navbar">
  <header>
    <div class="navbar-desktop">
      <div class="left">
        <div class="logo">
          <a href="#/awef" class="logo-link">
            <img class="logo-img" src="../../assets/video-icon.png">
          </a>
        </div>
      </div>
      <div class="middle">
        <div class="search">
          <div class="search-icon">X</div>
          <input class="search-input" type="text" placeholder="Search videos..." />
        </div>
      </div>
      <div class="right">
        <div class="links">
          <div class="link">Home</div>
          <div class="link">New</div>
          <div class="link">...</div>
        </div>
        <div class="profil">
          <div>Login</div>
          <div>Join</div>
        </div>
      </div>
    </div>
  </header>

  <div class="navbar-mobile">

  </div>

</div>
